<!DOCTYPE html>
<html>
<head>
  <title>SocialFlux | Development Mode</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css">
  <script src="/static/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/@fortawesome/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="/static/assets/css/main.css">
  <link rel="icon" type="image/png" href="../static/assets/img/favicon.ico">
</head>
<body class="bg-dark">
  <div class="container d-flex flex-column justify-content-center align-items-center vh-100">
    <div class="card shadow p-3 mb-3 bg-body-tertiary rounded bg-dark1">
        <div class="card-body text-center">
          <p style="font-size: 24px;"><i class="fa-solid fa-face-sad-tear"></i>
            Sorry, SocialFlux is in development mode.</p>
          <hr class="w-50 my-4 mx-auto" style="border-top: 1px solid rgba(216, 202, 202, 0.4);">
          <p style="font-size: 18px;">SocialFlux is currently under development. Please check back later.</p>
          <div class=" mx-2">
            <a class="btn bg-dark2 border-0 w-25 border-0" data-bs-toggle="modal" data-bs-target="#learnmore">Learn More</a>
          </div>
        </div>
        
        
    </div>
    <div class="alert alert-dismissible fade show card bg-dark1" role="alert" style="display: inline-block; padding: 1% 40px;">
      <i class="fa-solid fa-dollar-sign mx-2" style="font-size: 24px; --fa-primary-color: #859c89; --fa-secondary-color: #ffffff;"></i>
      <span style="color: white;">Please support my project by sending a contribution</span>
      <a href="https://cash.app/$FloodedR" class="text-blue" target="_blank">here</a>
    </div>
    <div class="modal fade" id="learnmore" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="learnmore" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
          <div class="modal-content bg-dark1">
            <div class="modal-header border-0">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">Development Mode Notice</h1>
            </div>
            <div class="modal-body">
              <p><a class="text-muted mx-2" style="text-decoration: none;">1.</a>We are currently in Development Mode for this project. Our team consists of only one person working diligently to bring you a great user experience. As a result, you may encounter occasional errors or bugs during your visit.</p>
              <p><a class="text-muted mx-2" style="text-decoration: none;">2.</a>Rest assured, we are committed to delivering a high-quality final product. We refuse to rush the development process, as it could compromise the integrity and reliability of the project. We believe in taking the time necessary to address any issues and provide you with the best possible outcome.</p>
              <p><a class="text-muted mx-2" style="text-decoration: none;">3.</a>Your feedback and support are incredibly valuable to us. We encourage you to join our Discord server and become part of our community. By joining, you will receive regular updates on the project's progress. Share your thoughts, suggestions, and report any problems you encounter by visiting  <a target="_blank" href="https://discord.gg/9kY4HGU9rA">discord.gg/9kY4HGU9rA</a></p>
            </div>
            <div class="modal-footer border-0">
              <button type="button" class="btn bg-dark2 border-0" data-bs-dismiss="modal">Understood</button>
            </div>
          </div>
        </div>
      </div>
    
  </div>
  <justsomedumbcode>
    <div class="table-cts">
      <table>
        <tr>
          <th>Company</th>
          <th>Contact</th>
          <th>Country</th>
        </tr>
        <tr>
          <td>Alfreds Futterkiste</td>
          <td>Maria Anders</td>
          <td>Germany</td>
        </tr>
        <tr>
          <td>Centro comercial Moctezuma</td>
          <td>Francisco Chang</td>
          <td>Mexico</td>
        </tr>
        <tr>
          <td>Ernst Handel</td>
          <td>Roland Mendel</td>
          <td>Austria</td>
        </tr>
        <tr>
          <td>Island Trading</td>
          <td>Helen Bennett</td>
          <td>UK</td>
        </tr>
        <tr>
          <td>Laughing Bacchus Winecellars</td>
          <td>Yoshi Tannamuri</td>
          <td>Canada</td>
        </tr>
        <tr>
          <td>Magazzini Alimentari Riuniti</td>
          <td>Giovanni Rovelli</td>
          <td>Italy</td>
        </tr>
      </table>
    </div>
  </justsomedumbcode>
  
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
</body>
</html>
